*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin: 10px 70px 10px 70px;
}

nav ul {
    display: flex;
    list-style-type: none;
    align-items: center;
}
.lanchonete{
    display: none;
}
.lista1 li{
  margin-right: 25px;  
}

.listItem:hover{
    cursor: pointer;
    transition: 1s;
    font-weight: 800;
}

#divul{
    display: flex;
}

#btn1{
    cursor: pointer;
    padding: 10px 15px 10px 15px;
    height: 35px;
    border-radius: 20px;
    border:none;
    background-color: #1E2430;
    color: aliceblue;
}

#btn1:hover{
    background-color: #0d1014;
}

#section1{
    position: relative;
    width: 100%;
    height: 70vh;
    background-image: url("../lukas-blazek-mcSDtbWXUZU-unsplash.jpg");
    background-size: cover;
   
}

#content{
    position: absolute;
    top:2rem;
    margin-left: 3.5rem;
    color: rgb(39, 34, 34);
    font-size: 1.5rem;
    
}
#saibaMais{
    cursor: pointer;
    background-color: #1E2430;
    color: aliceblue;
    padding: 0.7rem;
    width: 150px;
    border-radius: 3px;
    margin-top: 15px;
    border: none;
}
#saibaMais:hover{
    background-color: #0d1014;

}

#principal{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 85vh;
    
}
.containers{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
    background-color:#1E2430;
    width: 15rem;
    height: 14rem;
    border:none;
    color: aliceblue;
    border-radius: 3px;
    z-index: 2;
}
.containers p{
    margin-top: 3rem;
    padding: 13px;
    text-align: justify;
}

#confianca{
   position: relative;
}

#confianca span{
    margin-top: 5rem;
    margin-bottom: -3.3rem;
}

#credibilidade span{
    margin-top: 5rem;
    margin-bottom: -3.3rem;
}

#etica span{
    margin-top: 5rem;
    margin-bottom: -3.3rem;
}

#confianca img{
    top: 2%;
    position: absolute;
    width: 4rem;
    display: flex;
}

#credibilidade{
    position: relative;
 }
 
 #credibilidade img{
     top: 2%;
     position: absolute;
     width: 4rem;
     display: flex;
 }

 #etica{
    position: relative;
 }
 
 #etica img{
     top: 2%;
     position: absolute;
     width: 4rem;
     display: flex;
     
 }

.section2{
    position: relative;
    height: 80vh;
    margin-bottom: 5%;
    z-index: 1;
}
#servicos{
    text-align: center;
    margin-top: 30px;
    font-size: 1.3rem;
  
}

.servicess{
    
    position: absolute;
    top: 25%;
    left:calc(100% - 60%);
    color: #272222;
}

.grid{
    display: flex;
    justify-content: center;
    height: 80vh;
    position: relative;
    margin-top: 2.3rem;
    
}

.grid2{
    
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
   
}

.containerGrid{
    height: 8rem;
    width: 20rem;
    padding: 10px;
    margin-top: 8rem;
    margin-bottom: -6.5rem;
    margin-right:10px ;
    font-size: 1.2rem;
    
}

.containerGrid h4{
   
    margin-bottom: 10px;
    color: #272222;
}

.section3{
    display: flex;
    justify-content: space-around;
    background-color: #1E2430;
    margin-top: 10%;
    padding: 6%;
}

.divSection3{
    margin-top: 3vh;
    color: aliceblue;
    font-size: 1.5rem;
}

.formSection3{
    display: flex;
    flex-direction: column;
    
}

.formSection3 input{
    margin-bottom: 1rem;
    height: 3.5rem;
    padding: 2rem;
    
    border-bottom: 2px solid white;
    
}

.inputs{
    border: none;
    outline: none;
    background-color: transparent;
    color: #FFFFFF;
    font-size: 1rem;
}

.formSection3 input::placeholder{
    color:white;
    font-size: 1rem;
}

.submit{
    margin-top: 10%;
    color:#1E2430;
    font-weight: 800;
    line-height: 50%;
    font-size: 0.9rem;
    background-color:#FFFFFF;
    border: none;
    border-radius: 2.5rem;
    cursor: pointer;
    
}

.espaco{
    margin-top: 10%;
}

@media (max-width: 985px)
{
#btn1{
    position: absolute;
    
    padding: 0;
    font-size: 12px;
    width: 30%;
    right: 115%;
    
}
.lista1{
   position: relative;
    flex-wrap: wrap;
    font-size: 13px;
   
    
}
#content{
    margin-top: 5%;
}
#servicos{
    position: absolute;
    top:8%;
    left: 10%;
    width: 60vw;
}

.grid{
    top:1rem;
}
.submit{
    font-size: 1.3rem;
    width: 13rem;   
}
}

@media(max-width: 955px)
{
    #btn1{
        right: 107%;
    }

    .content3{
        font-size: 18px;
    }

    #content{
        display: flex;
        flex-direction: column;
        width: 35%;
        flex-wrap: wrap;
        margin-top: -2rem;
       
    }

    #content p{
        margin-top: 1rem;
    }
    .clarear{
        color: #272222;
    }
}

@media (max-width: 930px){
    #btn1{
        right: 104%;
    }

    #content{
        display: flex;
        width: 55%;
        flex-wrap: wrap;
        margin-top: -2rem;
        background-color: #FFFFFFBB;
        border-radius: 8px;
        padding: 10px;
        
    }

    #content p{
        margin-top: 2rem;
    }

    #section1{
        height: 100vh;
    }

    .section2{
        height: 100vh;
    }
    
    #principal{
        height: 120vh;
    }
    
    .servicess{
        margin-top: 2rem;
    }

    .grid2{
        margin-top: 3rem;
    }
    
    #divul{
        display: none;
    }

    .lanchonete{
        display: block;
        width: 10%;
    
    }

    #prime{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }

   
}


